h1 {
    text-align: center; /* Untuk merapikan ke tengah */
    margin-top: 120px; /* Atur jarak sesuai kebutuhan */
    margin-bottom: 30px;
    font-size: 2em; /* Opsional, menyesuaikan ukuran */
  }  


.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolom */
    gap: 2px; /* Jarak antar gambar */
    padding: 10px;
  }
 
  .image-container {
    position: relative; /* Kontainer untuk mengatur posisi overlay */
    text-align: center; /* Teks berada di tengah */
    margin-bottom: 30px;
  }
 
  .image-container img {
    width: 80%; /* Ukuran gambar */
    height: auto; /* Menyesuaikan tinggi */
    margin: 0 auto; /* Menengahkan gambar secara horizontal */
    border: 2px solid #ccc; /* Border opsional */
    border-radius: 8px; /* Sudut melengkung opsional */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Efek bayangan opsional */
  }
 
  .overlay-text {
    position: absolute; /* Membuat teks berada di atas gambar */
    top: 50%; /* Vertikal tengah */
    left: 50%; /* Horizontal tengah */
    transform: translate(-50%, -50%); /* Posisi benar-benar di tengah */
    color: white; /* Warna teks */
    font-size: 20px; /* Ukuran font */
    font-weight: bold; /* Menebalkan teks */
  }
 

