.footer-container {
    background-color: #344C3D;
    padding: 70px;
    text-align: center;
    position: relative; /* Menghindari fixed positioning */
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-text {
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFFF;
  }
  
  .find-us {
    font-weight: bold;
    color:#FFFF;
    justify-content: center;
    padding-top: 30px;
    
  }
  
  .social-icons {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-top: 20px;
  }
  
  .social-icon {
    width: 50px; /* Ukuran gambar container */
    height: 50px; /* Ukuran gambar container */
    font-size: 25px; /* Ukuran ikon */
    color: #FFF; /* Warna ikon */
}


  .footer-secondary {
    background-color: #738A6E; /* Warna latar belakang */
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between; /* Membuat elemen kiri dan kanan */
    align-items: center; /* Vertikal rata tengah */
  }
  
  .left-text {
    text-align: left; /* Pastikan teks kiri rata kiri */
    margin: 0;
    padding-left: 20px;
  }
  
  .right-text {
    text-align: right; /* Pastikan teks kanan rata kanan */
    margin: 0;
    padding-right: 20px;
  }
  
  
  