nav {
    width: 100%;
    background: #738A6E;
    color: #FFFF;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
  
  .LogoP {
    width: 180px;
    cursor: pointer; /* Menambahkan efek klik */
    transition: transform 0.2s ease;
  }
  
  .LogoP:hover {
    transform: scale(1.05); /* Sedikit membesar saat hover */
  }
  
  /* Styling untuk menu list */
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
  }
  
  /* Styling untuk Link pada navbar */
  nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: font-weight 0.3s ease;
  }
  
  /* Efek hover pada link */
  nav ul li a:hover {
    font-weight: bold; /* Menambahkan efek bold saat hover */
    border-radius: 5px; /* Membuat sudut rounded */
  }
  
  /* Efek saat link ditekan (active state) */
  nav ul li a:active {
    transform: scale(0.98); /* Efek mengecilkan saat tombol ditekan */
  }
  
  /* Styling untuk button Donasi */
  .btn {
    background-color: #344C3D; /* Warna latar belakang tombol */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Efek hover pada tombol Donasi */
  .btn:hover {
    transform: scale(1.03); /* Sedikit membesar saat hover */
  }
   

  /* Container dropdown */
.dropdown {
  position: relative;
  
}

/* Tombol dropdown */
.dropdown-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 15px; /* Pastikan ada ruang yang cukup di tombol */
}

/* Menu dropdown */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(115, 138, 110, 0.18); /* Transparansi 18% */
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: auto; /* Atur agar lebar otomatis mengikuti panjang teks */
  min-width: 150px; /* Tentukan lebar minimal */
  text-align: left;
}


/* Elemen dalam dropdown */
.dropdown-menu li {
  padding: 10px 15px; /* Menambah sedikit ruang padding untuk menghindari terlalu rapat */
  text-align: left; /* Menyelaraskan teks ke kiri */
  white-space: nowrap; /* Menjaga teks tetap satu baris */
  margin-left: 0; /* Hapus margin kiri agar item lebih ke kiri */
}

.dropdown-menu li a {
  text-decoration: none;
  color: #fff;
  display: block;
}


/* Hilangkan default tombol */
.dropdown-btn:focus {
  outline: none;
}

/* Ikon dropdown di Our Services */
.dropdown-icon {
  margin-left: 25px;
  font-size: 0.9rem;
  transition: transform 0.3s ease;
  display: inline-block;
}

/* Rotasi ikon saat dropdown terbuka */
.dropdown-icon.open {
  transform: rotate(180deg);
}

ul li a.active {
  font-weight: bold; /* Menebalkan teks */
  color: #fff;    /* Warna menu aktif */

}

.dropdown-menu li a.active {
  font-weight: bold;
  color: #fff;
}