.dashboard-container {
  display: flex;
}

.dashboard-content {
  flex-grow: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper-box {
  padding: 16px;
  width: 550px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-left: 200px;
  align-items: center;
  background-color: #B8C4B6 !important;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.paper-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-left: 200px;
  margin-top: 70px;
  color: #344C3D;
}

.paper-title {
  font-size: 1.3rem;
  color: white;
}

.paper-weight {
  font-size: 1.5rem;
  color: #5D5D65;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  margin-top: 40px;
}
